/* Estilo para el contenedor de productos del carrito */
#productos-carrito {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  
  body{
    font-family: 'Space Grotesk', sans-serif;
    background-image: url(https://s1.1zoom.me/b5167/904/Cookies_Macaron_Colored_background_551866_1366x768.jpg);  
  }

  .productillo{
    
    width: 35%;
    height: 35%;
  }



  /* Estilo para cada producto en el carrito */
  #productos-carrito div {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 580px;
    margin-top: 60px;
  }
  
  /* Estilo para el título del producto */
  #productos-carrito div p:first-child {
    font-weight: bold;
    font-size: 18px;
  }

  #caja{
    text-align: center;
    
  }

  #factura{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: #3f3e3e;
    color: #fff;
    margin-top: 0px;
    left: 5%;
    font-family: 'Space Grotesk', sans-serif;
  }

  #eliminar{
    border-radius: 20px;
    width: 100px;
    height: 25px;
    background-color: #f30707;
    color: #080606;
    font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
  }

  #vaciar{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: #039ab4;
    color: #0c0707;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
  }

  #botones{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: #3f3e3e;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    margin-left: 25px;
    font-family: 'Space Grotesk', sans-serif;
  }
  #resumen-compra{
    background-color: #fdfdfd;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    margin-right: 70%;
    margin: center;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 20px;

  }
.formulario{
  margin: 10px;

}

  #formulario{
    padding: 15px;
    position: right;
    background-color: #fdfdfd;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    margin: center;
    width: 25%;
    height: 200px;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 65%;
    position: absolute;
    top: 80%;
  }

  /* Estilo para los detalles del producto */
  #productos-carrito div p:not(:first-child) {
    margin-bottom: 5px;
  }
  
  /* Estilo para el total del carrito */
  #total {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
  .resumen-compra {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .resumen-compra h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .resumen-compra p {
    margin-bottom: 5px;
  }
  
  .resumen-compra ul {
    margin-bottom: 10px;
  }
  
  .resumen-compra li {
    margin-bottom: 5px;
  }
  